<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<!-- Jumbotron Banner -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Basic Web Application</h1> 
    <p>Deployed fomr Git</p> 
  </div>
</div>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3> 
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>

{% endblock %}